/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
/*header {
  border-bottom: 0.75px solid black;
}*/
body, a , h3, h2 {
  font-family: 'Open Sans Condensed', 'Handlee', sans-serif;
}

a:hover {color: black; font-weight: bold;}


/*.dropdown.menu > li.is-dropdown-submenu-parent > a::after {border-color: black;}*/

header {
  width: 100%;
  padding-top: 3%;
}

h1, ul, li, section {
  display: inline-block;
}

img.icon-nav {
  display: inline-block;
  vertical-align: bottom;
}


nav.top-bar {
  background-color: white;
  border-bottom: 1px solid black;
}
section, ul, li, a {
  background-color: white;
  display: inline-block;
}

.top-bar, .top-bar ul {
  background-color: white;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

section.top-bar-section {
  width: 100%;
  vertical-align: bottom;
}

div#responsive-menu {
  display: inline-block;
  vertical-align: bottom;
}

.top-bar-title, .top-bar-title a {
  text-align: center;
  font-family: 'Kaushan Script', 'Open Sans', 'Ranga', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.profile-logo a img {
  width: 25px;
  height: 25px;
}

.menu > li.profile-logo > a {
  padding-top: 0;
  padding-bottom: 0;
}

div#responsive-menu, ul.add-image-ul {
  margin-top: 3%;
}



.outfit-name {
  font-size: 1.3rem;
  width: 70%;
  margin: auto;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.index-photo {margin-top: 3%;}

.filter-menu {
  display: inline-block;
  vertical-align: middle;
  padding: 0 3%;
}


.filter-menu ul {
  text-align: center;
}

.filter-menu ul li a, .filter-menu ul li a h3, .filter-menu h3 a {
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.filter-menu-container {
  width: 100%;
  text-align: center;
  margin: 1vh auto;
}
.category-menu li {
  padding: 1% 0;
}

.category-menu {
  width: 95%
}

.tags-search-button {
  margin: 3% 0 2% 0;
}


div.underphoto.row {
  width: 70%;
  margin: 3% auto 1% auto;
}

.index-photo-information {
  margin: 0 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

span {text-transform: uppercase;}

.landing-main-body {
  margin: 10% auto 0 auto;
  width: 80%;
}

.landing-search-class a {
  font-size: 1.9rem;
  border-top: 0.5px solid lightgray;
  margin: 3% 0;
}


.landing-search-class a h3 {
  font-size: 1.9rem;
}

.landing-drop-down {  width: 100%;}

.landing-drop-down p a {
  font-size: 1.4rem;
  margin-left: 5%;
}

.landing-drop-down label {
  font-size: 1.2rem;
  margin-left: 5%;
}

li.home-page-search input.search-button {
  margin-top: 3%;
  margin-left: 73%;
}

label {
  display: inline-block;
  margin-left: 1%;
}

article.main-content-article {
  text-align: center;
  border-top: 0.5px solid #e2e2e2;
  padding-top: 5%;
}

.landing-page, .landing-search-class {  width: 100%; }

h3.force-login, h3.no-outfits {
  text-align: center;
  width: 85%;
  margin: 40% auto 0 auto;
  font-size: 2rem;
  font-family: "Open Sans Condensed", sans-serif;
}

h3.force-login a {
  color: #2199e8;
}

.outfit-name-show {
  font-size: 1.8rem;
  text-align: center;
  margin: auto;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 3%;
}
.photos {
  text-align: center;
  margin: 5% 0;
}

.main-show-header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1%;
  margin-top: 2%;
}

.show-icons-controls {
  display: inline-block;
  margin: 0 8%;
  vertical-align: bottom;
}

.form-title {
  font-size: 1.5rem;
  text-align: center;
}

.show-icons-containers, .edit-and-back {
  display: inline-block;
}

.edit-and-back p a {
  margin: 0 2%;
  text-transform: uppercase;
}

.main-show-body {
  margin-top: 3%;
}

.show-page-outfit-info, .edit-and-back {
  text-align: left;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.show-info-section, .show-info-section.row {
  margin-bottom: 8%;
  margin-left: 10%;
}

.special-tags.columns.small-4.medium-3 {
  padding: 0;
}

.show-span {
  margin-right: 5%;
  font-weight: bold;
}

input#outfit_name, select#outfit_category, input#outfit_reworn_count {width: 70%; margin: auto;}

select#outfit_last_worn_1i, select#outfit_last_worn_2i,
select#outfit_last_worn_3i {
  display: inline-block;
  width: 23%;
  font-family: 'Open Sans Condensed', 'Handlee', sans-serif;
}

input#outfit_photos_attributes_0_image, input#outfit_photos_attributes_1_image, input#outfit_photos_attributes_2_image {
  display: block;
  text-align: center;
  width: auto;
  margin: 3% auto;
}

form {
  margin-bottom: 10%;
}

form {text-align: center;}
form label {
  font-size: 1rem;
  margin-top: 3%;
}

div.favorite-field > label, div.favorite-field > input {
  display: inline-block;
  width: auto;
}

form div#tags-input-div label.tags-label {
  display: block;
}
form div#tags-input-div  {
  width: 88%;
  text-align: center;
  margin: 3% auto;
}

.outfit-form-check-box {
  display: inline-block;
  margin: 0 5%;
}

div.filter-button-toggle-menu, .filter-toggle-button {
  background-color: white;
  color: black;
  padding: 0;
}

.filter-toggle-button {
  margin-left: 7.5%;
}

.filter-toggle-button h2 {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

#filtering-menu {
  width: 95%;
  border: none;
}

#filtering-menu li a {
  font-size: 1.2rem;
  border-top: .7px solid whitesmoke;
  padding: 3% 0;
  margin-left: 5%;
}


@media only screen and (min-width: 40.063em) {
  /*h2.outfit-name {
    font-size: 1.3rem;
  }*/

  div.outfit-name-div {
    height: 10%;
  }

  div.filter-menu a, div.filter-menu a h3 {
    font-size: 1.5rem;
  }

  h3.force-login, h3.no-outfits {
    margin: 20% auto 0 auto;
  }

  ul.add-image-ul {
    text-align: right;
    padding-right: 3%;
  }
}

@media only screen and (min-width: 64em) {
  section.top-bar-section {
    width: 100%;
    margin-left: 6%;
  }
  ul.add-image-ul {
    text-align: right;
    padding-right: 10%;
  }

  h3.force-login, h3.no-outfits {
    margin: 20% auto 0 auto;
  }

  header{
    padding-top: 0;
  }

  .no-outfits {
    margin-top: 10%;
  }

  .show-page-outfit-info {
    margin-top: 5%;
  }

}
