/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
header {
  border-bottom: 0.75px solid black;
  margin: 2.5% 0;
}

header h1.main-header {
  font-family: 'Kaushan Script', 'sans-serif';
  font-size: 3rem;
  margin-left: 5%;
  text-align: center;
  display: inline-block;
}

header nav {
  display: inline-block;
  margin-left: 15%;
}

header nav ul.menu {
  list-style: none;
  text-align: center;
  margin-left: auto;
}

header nav ul.menu li {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  margin: auto;
  text-align: center;
}

header nav ul li a {
  color: black;
  margin: auto;
  text-align: center;
 }

 label {
     display: inline-block;
     margin-left: 1%;
   }
