/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
/*header {
  border-bottom: 0.75px solid black;
}*/

header {
  width: 100%;
}

h1, ul, li, section {
  display: inline-block;
}

img.icon-nav {
  display: inline-block;
}


nav.top-bar {
  background-color: white;
  border-bottom: 1px solid black;
}
section, ul, li, a {
  background-color: white;
  display: inline-block;
}

.top-bar, .top-bar ul {
  background-color: white;
  margin: 0;
}

a {
  color: black;
}

section.top-bar-section {
  width: 100%;
}

div#responsive-menu {
  display: inline-block;
}

.top-bar-title {
  text-align: center;
}

.profile-logo a img {
  width: 25px;
  height: 25px;
}

.menu > li.profile-logo > a {
  padding-top: 0;
  padding-bottom: 0;
}
header {
  padding-top: 3%;
}

/*div.top-title {
  display: block;
  border-bottom: 0.75px solid black;
  padding: 0.7% 0;
}

h1.main-header {
  font-family: 'Kaushan Script', 'sans-serif';
  font-size: 1.8rem;
  text-align: center;
  display: inline-block;
}
h1.main-header a {
  color: black;
}

div.navigation-logo {
  display: inline-block;
  width: 50px;
  height: auto;
  margin-top: 2%;
}

header nav {
  display: inline-block;
  margin-left: 15%;
}

header nav ul.menu {
  list-style: none;
  text-align: center;
  margin-left: auto;
}

header nav ul.menu li {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  margin: auto;
  text-align: center;
}

header nav ul li a {
  color: black;
  margin: auto;
  text-align: center;
 }*/

.landing-search-class a {
  font-size: 1.9rem;
  border-top: 0.5px solid lightgray;
  margin: 3% 0;
}

.landing-main-body {
  margin: 10% auto 0 auto;
  width: 80%;
}

.landing-search-class a h3 {
  font-size: 1.9rem;
}

.landing-drop-down p a {
  font-size: 1.4rem;
  margin-left: 5%;
}

.landing-drop-down label {
  font-size: 1.2rem;
  margin-left: 5%;
}

li.home-page-search input.search-button {
  margin-top: 3%;
  margin-left: 73%;
}

label {
  display: inline-block;
  margin-left: 1%;
}



article.main-content-article {
  text-align: center;
}
